body {background-color: peachpuff;
}
div.container{
    margin: 0 auto;
    width: 90%;
}
header {
    width: 100%;
    height: 100px;
    background-color: brown;
}
nav{
    width: 20%;
    height: 800px;
    background-color: burlywood;
    float: left;
}
div.content {
    width: 80%;
    height: 800px;
    background-color: azure;
    float: right;
}
footer{
    width: 100%;
    height: 60px;
    background-color: indianred;
    float: left;
}
